<!DOCTYPE html>
<html xml:lang="ru" lang="ru">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Terekhov test</title>
	<link rel="stylesheet" href="css/styles.css" type="text/css">
	<link rel="stylesheet" href="css/reset.css" type="text/css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto&amp;subset=cyrillic" rel="stylesheet">

	<script src="https://unpkg.com/vue@2.2.4"></script>

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<!-- Валидация полей -->

<!-- Конец -->
<div class="wrapper">
<!-- Фоновая картинка в топе -->
	<div class="background-top  background-top--positioner">
		<img src="img/imgtop_bckgr.jpg" alt="">
	</div>
<!-- Кровать и лого -->
	<div class="header">
		<div class="logo  header__logo">
			<img src="img/header_logo.png" alt="logo" width="277" height="100">
		</div>
		<div class="header__img">
			<img src="img/header_img.png" alt="кровать" >
		</div>
		<div class="header__banner header__banner--shadow">
			<p>
				Наша продукция это результат сочетания традиции и опыта с современыми тенденциями и передовыми технологиями
			</p>
		</div>
	</div>
<!-- Баннер о компании -->
	<div class="content-banner">
		<div class="headline3">
			<h3>
				О компании
			</h3>
		</div>
		<div class="headline1  headline1--white">
			<h1>
				Компания Matello
			</h1>
		</div>
		<div class="content-banner__p  content-banner__p--white">
			<p>
				Это гарантия безупречного качества, основанная на многолетнем опыте и итальянских стандартах качества в производстве матрасов и аксессуаров для сна. Каждая модель объединяет в себе новейшие разработки и заботу специалистов о Вашем сне. Автоматическая линия производства и регулярный контроль гарантируют высокое качество продукции Matello. На российском рынке представлены адаптированные модели с использованием итальянских комплектующих. Широкий ассортимент и гибкая ценовая политика позволяют компании Matello уверенно продвигаться на рынке матрасов, отвечая требованиям самых искушенных любителей здорового сна. Став покупателем продукции Matello, за очень приятную цену Вы приобретаете комфортный сон, итальянское качество и максимум положительных эмоций!
			</p>
		</div>
	</div>
<!-- Материалы -->
	<div class="content-material">
		<div class="headline3">
			<h3>
				материал
			</h3>
		</div>
		<div class="headline1">
			<h1>
				Внимание к деталям
			</h1>
		</div>
		<div class="content-material__container content-material__clearfix">
			<div class="content-material__left">
				<img src="img/material_img.jpg" alt="text">
				<div class="content-material__left__p">
					<div class="headline2">
						<h2>
							Memo Matello
						</h2>
					</div>
					<p>
						Современный высокоадаптивный материал с эффектом памяти. Изменяет свои свойства в зависимости от температуры и нагрузки. Имеет наиболее высокий анатомический эффект. Современная технология производства Memo Matello обеспечивает безопасность, долговечность матрасов и аксессуаров для сна.
					</p>
				</div>
			</div>
			<div class="content-material__right">
				<img src="img/material_img.jpg" alt="text">
				<div class="content-material__right__p">
					<div class="headline2">
						<h2>
							Sonno Matello
						</h2>
					</div>
					<p>
						Современный высокоадаптивный материал с эффектом памяти. Изменяет свои свойства в зависимости от температуры и нагрузки. Имеет наиболее высокий анатомический эффект. Современная технология производства Memo Matello обеспечивает безопасность, долговечность матрасов и аксессуаров для сна.
					</p>
				</div>
			</div>
		</div>
		<div class="content-material__container content-material__clearfix">
			<div class="content-material__left">
				<img src="img/material_img.jpg" alt="text">
				<div class="content-material__left__p">
					<div class="headline2">
						<h2>
							Трикотаж Matello
						</h2>
					</div>
					<p>
						Приятная на ощупь ткань которая обеспечивает защиту матраса от пыли и имеет антибактериальные свойства.
					</p>
				</div>
			</div>
			<div class="content-material__right">
				<img src="img/material_img.jpg" alt="text">
				<div class="content-material__right__p">
					<div class="headline2">
						<h2>
							Хлопковый жаккард Matello
						</h2>
					</div>
					<p>
						Плотный жаккард устойчивый к деформированию также имеет антибактериальную защиту.
					</p>
				</div>
			</div>
		</div>
	</div>
<!-- Производство -->
	<div class="content-manufacture">
		<div class="headline3">
			<h3>
				продукция
			</h3>
		</div>
		<div class="headline1">
			<h1>
				Что мы производим
			</h1>
		</div>
		<!-- Блок1 -->
		<div class="content-manufacture__container  content-manufacture__clearfix">
			<div class="content-manufacture__img content-manufacture__img--left">
				<img src="img/manufacture_img.jpg" alt="text">
			</div>
			<div class="content-manufacture__p  content-manufacture__p--right">
				<div class="headline2">
					<h2>
						Наматрасники
					</h2>
				</div>
				<p>
					Современный высокоадаптивный материал с эффектом памяти. Изменяет свои свойства в зависимости от температуры и нагрузки. Имеет наиболее высокий анатомический эффект. Современная технология производства Memo Matello обеспечивает безопасность, долговечность матрасов и аксессуаров для сна.
				</p>
			</div>
		</div>
		<!-- конец блока -->
		<!-- Блок2 -->
		<div class="content-manufacture__container  content-manufacture__clearfix">
			<div class="content-manufacture__img content-manufacture__img--right">
				<img src="img/manufacture_img.jpg" alt="text">
			</div>
			<div class="content-manufacture__p  content-manufacture__p--left">
				<div class="headline2">
					<h2>
						Матрасы
					</h2>
				</div>
				<p>
					Современный высокоадаптивный материал с эффектом памяти. Изменяет свои свойства в зависимости от температуры и нагрузки. Имеет наиболее высокий анатомический эффект. Современная технология производства Memo Matello обеспечивает безопасность, долговечность матрасов и аксессуаров для сна.
				</p>
			</div>
		</div>
		<!-- конец блока -->
		<!-- Блок3 -->
		<div class="content-manufacture__container  content-manufacture__clearfix">
			<div class="content-manufacture__img content-manufacture__img--left">
				<img src="img/manufacture_img.jpg" alt="text">
			</div>
			<div class="content-manufacture__p  content-manufacture__p--right">
				<div class="headline2">
					<h2>
						Кровати
					</h2>
				</div>
				<p>
					Современный высокоадаптивный материал с эффектом памяти. Изменяет свои свойства в зависимости от температуры и нагрузки. Имеет наиболее высокий анатомический эффект. Современная технология производства Memo Matello обеспечивает безопасность, долговечность матрасов и аксессуаров для сна.
				</p>
			</div>
		</div>
		<!-- конец блока -->
		<!-- Блок4 -->
		<div class="content-manufacture__container  content-manufacture__clearfix">
			<div class="content-manufacture__img content-manufacture__img--right">
				<img src="img/manufacture_img.jpg" alt="text">
			</div>
			<div class="content-manufacture__p  content-manufacture__p--left">
				<div class="headline2">
					<h2>
						Коконы для малышей
					</h2>
				</div>
				<p>
					Современный высокоадаптивный материал с эффектом памяти. Изменяет свои свойства в зависимости от температуры и нагрузки. Имеет наиболее высокий анатомический эффект. Современная технология производства Memo Matello обеспечивает безопасность, долговечность матрасов и аксессуаров для сна.
				</p>
			</div>
		</div>
		<!-- конец блока -->
	</div>
	<!-- Форма -->
	<div id="forms" class="content-submit">
		<div class="headline1">
			<h1>
				Компания Matello
			</h1>
		</div>
		<div class="headline4">
			<h4>
				Заполните поля  своими данными
			</h4>
		</div>
		<form name="sub_mit" class="content-submit__container content-submit__container--clearfix">
			<div class="content-submit__container__left">
				<div class="positioner1">
					<label for="inputFio">
						<input type="text" id="inputFio" class="form-name" placeholder="ФИО" v-model="fio">
					</label>
						<div class="error" v-show="fio &amp;&amp; !isFioValid"><span style="color:red;">Введите ФИО</span></div>
					<label for="inputMail">
						<input type="email" id="inputEmail" class="form-name" placeholder="Почта" v-model='email'>
					</label>
						<div class="error" v-show="email &amp;&amp; !isEmailValid"><span style="color:red;">Введите корректный e-mail</span>
			            </div>
					<label for="inputPhone">
						<input id="inputPhone" class="form-name" placeholder="Телефон" v-model='wrongphone'>
					</label>
					<div class="error" v-show="wrongphone &amp;&amp; !isPhoneValid"><span style="color:red;">Введите 10 цифр телефона</span>
					</div>
				</div>
			</div>
			<div class="content-submit__container__right">
				<div class="positioner2">
				<label for="inputText">
					<textarea class="form-name" id="inputText" rows="8" placeholder="Комментарий" v-model='wrongtext'></textarea>
					<div class="error" v-show="wrongtext &amp;&amp; !isTextValid"><span style="color:red;">Введите не менее 20 символов</span>
		            </div>
				</label>
				</div>
			</div>
		</form>

		<button class="submit_but  submit_but--shadow" name="button" type="button" name="button" method="submit" form="sub_mit">
			Отправить заявку
		</button>
	</div>
<!-- Подвал -->
	<div class="content-bottom">
		<div class="logo  bottom__logo">
			<img src="img/header_logo.png" alt="logo" width="277" height="100">
		</div>
			<p>
				Наша продукция это результат сочетания традиции и опыта с современыми тенденциями и передовыми технологиями
			</p>

	</div>

</div>

<script>
    new Vue ({
        el: '#forms',
        data: { fio: '', email: '', wrongtext: '', wrongphone: ''},
        computed: {
            isEmailValid: function isEmailValid() {
                return (/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.email)
                );
            },
            isFioValid: function isFioValid() {
                return (/\w+[ ]+\w+[ ]+\w+/.test(this.fio)
                );
            },
            isTextValid: function isTextValid() {
                return (/..................../.test(this.wrongtext)
                );
            },
			isPhoneValid: function isPhoneValid() {
                return (/^[0-9]{10,12}$/.test(this.wrongphone)
                );
            }
        }
    });
</script>

</body>
</html>
